<html>
    <head>
        <title>Register_template</title>
        <style>
            * {
                font-family: 'Open Sans', sans-serif;
                margin: 0px;
                padding: 0px;
            }
            .container{
                max-width: 720px;
                max-height: 1280px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                <h1>การเข้าใช้งานระบบลงทะเบียน</h1>
            </div>
            <hr>
            <div>
                <p>USERNAME & PASSWORD สำหรับการเข้าสู้ระบบลงทะเบียน Geargame30 ณ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเชียงใหม่ ในวันที่ 23 - 28 ธันวาคม 2561</p>
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                    <tr>
                        <td>REPLACEMENT_USERNAME_HERE</td>
                        <td>REPLACEMENT_PASSWORD_HERE</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>